/*
  Flaticon icon font: Flaticon
  Icon made by Freepik from www.flaticon.com
  Creation date: 15/03/2019 01:47
*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
        url("./Flaticon.woff2") format("woff2"),
        url("./Flaticon.woff") format("woff"),
        url("./Flaticon.ttf") format("truetype"),
        url("./Flaticon.svg#Flaticon") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fla {
  font-family: Flaticon;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-display: auto;
  line-height: 1; 
}

.fla-lg {
  font-size: 2.2em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.fla-md {
  font-size: 2.4em;
  line-height: 0.95em;
  vertical-align: -.0876em;
}

.fla-sm {
  font-size: 1.6em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.flaticon-cloud:before { content: "\f100"; }
.flaticon-computer:before { content: "\f101"; }
.flaticon-chip:before { content: "\f102"; }
.flaticon-computer-graphic:before { content: "\f103"; }
.flaticon-responsive:before { content: "\f104"; }
.flaticon-computer-1:before { content: "\f105"; }
.flaticon-monitor:before { content: "\f106"; }
.flaticon-checklist:before { content: "\f107"; }
.flaticon-cloud-computing:before { content: "\f108"; }
.flaticon-gears:before { content: "\f109"; }
.flaticon-hosting:before { content: "\f10a"; }
.flaticon-algorithm:before { content: "\f10b"; }
.flaticon-analytics:before { content: "\f10c"; }
.flaticon-web:before { content: "\f10d"; }
.flaticon-server:before { content: "\f10e"; }
.flaticon-server-1:before { content: "\f10f"; }
.flaticon-laptop:before { content: "\f110"; }
.flaticon-gear:before { content: "\f111"; }
.flaticon-backup:before { content: "\f112"; }
.flaticon-gear-1:before { content: "\f113"; }
.flaticon-server-2:before { content: "\f114"; }
.flaticon-network:before { content: "\f115"; }
.flaticon-ui:before { content: "\f116"; }
.flaticon-ui-1:before { content: "\f117"; }
.flaticon-cell:before { content: "\f118"; }
.flaticon-network-1:before { content: "\f119"; }
.flaticon-data:before { content: "\f11a"; }
.flaticon-network-2:before { content: "\f11b"; }
.flaticon-algorithm-1:before { content: "\f11c"; }
.flaticon-shield:before { content: "\f11d"; }
.flaticon-internet:before { content: "\f11e"; }
.flaticon-cloud-1:before { content: "\f11f"; }
.flaticon-data-1:before { content: "\f120"; }
.flaticon-server-3:before { content: "\f121"; }
.flaticon-software:before { content: "\f122"; }
.flaticon-bug:before { content: "\f123"; }
.flaticon-programmer:before { content: "\f124"; }
.flaticon-cardiogram:before { content: "\f125"; }
.flaticon-hard-drive:before { content: "\f126"; }
.flaticon-cloud-2:before { content: "\f127"; }
.flaticon-browser:before { content: "\f128"; }
.flaticon-hacker:before { content: "\f129"; }
.flaticon-monitor-1:before { content: "\f12a"; }
.flaticon-cloud-3:before { content: "\f12b"; }
.flaticon-server-4:before { content: "\f12c"; }
.flaticon-server-5:before { content: "\f12d"; }
.flaticon-server-6:before { content: "\f12e"; }
.flaticon-database:before { content: "\f12f"; }
.flaticon-server-7:before { content: "\f130"; }
.flaticon-server-8:before { content: "\f131"; }
.flaticon-cloud-4:before { content: "\f132"; }
.flaticon-data-2:before { content: "\f133"; }
.flaticon-server-9:before { content: "\f134"; }
.flaticon-clock:before { content: "\f135"; }
.flaticon-mail:before { content: "\f136"; }
.flaticon-download:before { content: "\f137"; }
.flaticon-cloud-5:before { content: "\f138"; }
.flaticon-key:before { content: "\f139"; }
.flaticon-data-3:before { content: "\f13a"; }
.flaticon-password:before { content: "\f13b"; }
.flaticon-cloud-6:before { content: "\f13c"; }
.flaticon-share:before { content: "\f13d"; }
.flaticon-server-10:before { content: "\f13e"; }
.flaticon-data-4:before { content: "\f13f"; }
.flaticon-data-5:before { content: "\f140"; }
.flaticon-data-6:before { content: "\f141"; }
.flaticon-folder:before { content: "\f142"; }
.flaticon-server-11:before { content: "\f143"; }
.flaticon-ui-2:before { content: "\f144"; }
.flaticon-network-3:before { content: "\f145"; }
.flaticon-cloud-7:before { content: "\f146"; }
.flaticon-ui-3:before { content: "\f147"; }
.flaticon-cloud-8:before { content: "\f148"; }
.flaticon-cloud-computing-1:before { content: "\f149"; }
.flaticon-cloud-computing-2:before { content: "\f14a"; }
.flaticon-cloud-9:before { content: "\f14b"; }
.flaticon-cloud-10:before { content: "\f14c"; }
.flaticon-dollar:before { content: "\f14d"; }
.flaticon-dollar-1:before { content: "\f14e"; }
.flaticon-ui-4:before { content: "\f14f"; }
.flaticon-ui-5:before { content: "\f150"; }
.flaticon-ui-6:before { content: "\f151"; }
.flaticon-seo-and-web:before { content: "\f152"; }
.flaticon-data-7:before { content: "\f153"; }
.flaticon-ui-7:before { content: "\f154"; }
.flaticon-seasoning:before { content: "\f155"; }
.flaticon-network-4:before { content: "\f156"; }
.flaticon-database-1:before { content: "\f157"; }
.flaticon-share-1:before { content: "\f158"; }
.flaticon-group:before { content: "\f159"; }
.flaticon-user:before { content: "\f15a"; }
.flaticon-user-1:before { content: "\f15b"; }
.flaticon-team:before { content: "\f15c"; }
.flaticon-network-5:before { content: "\f15d"; }
.flaticon-connection:before { content: "\f15e"; }
.flaticon-shield-1:before { content: "\f15f"; }
.flaticon-shield-2:before { content: "\f160"; }
.flaticon-scale:before { content: "\f161"; }
.flaticon-key-1:before { content: "\f162"; }
.flaticon-server-12:before { content: "\f163"; }
.flaticon-server-13:before { content: "\f164"; }
.flaticon-disk:before { content: "\f165"; }
.flaticon-hard-drive-1:before { content: "\f166"; }
.flaticon-burn-compact-disk:before { content: "\f167"; }
.flaticon-disk-1:before { content: "\f168"; }
.flaticon-linux:before { content: "\f169"; }
.flaticon-windows:before { content: "\f16a"; }
.flaticon-user-2:before { content: "\f16b"; }
.flaticon-user-3:before { content: "\f16c"; }
.flaticon-user-4:before { content: "\f16d"; }
.flaticon-administrator:before { content: "\f16e"; }
.flaticon-id-card:before { content: "\f16f"; }
.flaticon-id:before { content: "\f170"; }
.flaticon-id-card-1:before { content: "\f171"; }
.flaticon-id-card-2:before { content: "\f172"; }
.flaticon-server-14:before { content: "\f173"; }
.flaticon-ai:before { content: "\f174"; }
.flaticon-share-2:before { content: "\f175"; }
.flaticon-start-up:before { content: "\f176"; }
.flaticon-presentation:before { content: "\f177"; }
.flaticon-project:before { content: "\f178"; }
.flaticon-planning:before { content: "\f179"; }
.flaticon-speedometer:before { content: "\f17a"; }
.flaticon-home:before { content: "\f17b"; }
.flaticon-speedometer-1:before { content: "\f17c"; }
.flaticon-speedometer-2:before { content: "\f17d"; }
.flaticon-dashboard:before { content: "\f17e"; }
.flaticon-brainstorming:before { content: "\f17f"; }
.flaticon-database-2:before { content: "\f180"; }
.flaticon-mainframe:before { content: "\f181"; }
.flaticon-data-8:before { content: "\f182"; }
.flaticon-server-15:before { content: "\f183"; }
.flaticon-server-16:before { content: "\f184"; }
.flaticon-servers:before { content: "\f185"; }
.flaticon-server-17:before { content: "\f186"; }
.flaticon-robot:before { content: "\f187"; }
.flaticon-robot-1:before { content: "\f188"; }
.flaticon-bot:before { content: "\f189"; }
.flaticon-robot-2:before { content: "\f18a"; }
.flaticon-administration:before { content: "\f18b"; }
.flaticon-leader:before { content: "\f18c"; }