
// Logo

.logo {
  position: relative;
  background: #ffffff;
  height: 80px;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}

// Inverted Logo
.logo.logo-dark {
  i {
    color: $logo-dark-icon_color;
    background: $logo-dark-icon_bg;
  }
  .logo-title { color: $logo-dark-title_color; }
}

.logo-mobile {
  position: relative;
  display: none;
  padding: 1.2rem 0;
}

.logo-mobile img {
  width: 50%;
}
